/*リセットCSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-group{
  display: flex;
  width: 1024px;
  height: 70px;
  background-color: #EC715F;
}

.logo{
  height: 70px;
}

.nav{
  display: flex;
}

.nav-list{
  width: 120px;
  line-height: 70px;
  color: #FAFAFA;
  font-size: 16px;
  padding: 0 30px;
  list-style: none;
}