/*リセットCSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  margin: 0 auto;
}

header{
  background-color: #EC715F;
}

.header-group{
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.logo{
  height: 70px;
}

.nav{
  display: flex;
}

.nav-list{
  width: 120px;
  line-height: 70px;
  color: #FAFAFA;
  font-size: 16px;
  padding: 0 30px;
  list-style: none;
}

.nav-list a{
  color: #FAFAFA;
  text-decoration: none;
}

#mv{
  width: 100%;
  height: 650px;
  color: #FAFAFA;
  text-align: center;
  background-image: url(./img/mv.png);
  background-size: cover;
  background-position: center;
}

.mv-title{
  padding-top: 200px;
  font-size: 64px;
  font-family: 'Raleway', sans-serif;
}

.mv-text{
  padding-top: 10px;
  font-size: 20px;
}

.heading{
  font-size: 32px;
  color: #000;
  padding-top: 90px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

/*headingの後ろに付ける擬似要素*/
.heading::after{
  content: ""; /*表示したいのは下線である為""のみ記述*/
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

.heading-text{
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
}

.photo-group{
  display: flex;
  flex-flow: row wrap;
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.photo{
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.bg-1{
  background-image: url(./img/sketch.jpg);
}

.bg-2{
  background-image: url(./img/websuku.png);
}

.bg-3{
  background-image: url(./img/write.jpg);
}

.bg-4{
  background-image: url(./img/webcamp.png);
}

.bg-5{
  background-image: url(./img/talk.jpg);
}

.bg-6{
  background-image: url(./img/webcamp-mother.png);
}

.strength-group{
  display: flex;
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.strength{
  width: 320px;
  margin-left: 10px;
  text-align: center;
}

i{
  font-size: 60px;
}

.profile-group{
  display: flex;
  padding: 30px 0 90px 0;
}

.left-content{
  width: 50%;
}

.fase{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(./img/my-icon.jpg)
}

.right-content{
  width:50%;
}

.contact-group{
  display: flex;
  padding: 30px 0 90px 0;
}

.right-content i{
  font-size: 50px;
  margin: 20px;
}

footer{
  width:100%;
  height: 60px;
  line-height: 60px;
  background-color: #EC715F;
}

.footer-text{
  font-size: 16px;
  text-align: center;
  color: #FAFAFA;
}

@media screen and (max-width: 768px){
  header{
    width: 90%;
    height: 50px;
  }

  .logo{
    height: 50px;
  }

  .menu-box{
    width: 40px;
    height: 40px;
    border: 1px solid #FAFAFA;
    margin-right: 5%;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .list-bar{
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
  }

  .list-bar:first-child{
    margin-top: 10px;
  }

  .nav-list{
    display: none;
  }
}